In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
engine = create_engine('postgresql+psycopg2://candidate:OLX+Test+task_11235813@public-reporting-1.cyrupaplapl4.eu-west-1.rds.amazonaws.com:5454/postgres')
conn = engine.raw_connection()

In [4]:
sql = """select user_id
     , category_id
     , category_name
     , count(category_name) ads
     , rank() over (partition by user_id order by count(category_name) desc) category_rank
from ads
group by user_id, category_id, category_name
order by user_id, ads desc;"""

In [5]:
df = pd.read_sql(sql = sql, con = conn)

In [6]:
pivot_df = df.pivot_table(index='user_id', columns='category_name', aggfunc={'category_name':'count'}, fill_value=0)#.columns.names

In [7]:
merged_df = df.merge(pivot_df, how='left', left_on='user_id', right_on='user_id')

In [8]:
merged_df.columns = ['user_id','category_id','category_name','ads','category_rank', 'animals',
'business and services', 'car parts', 'children', 'electronic', 'fashion and style',
'hobby, rest and sport', 'home and garden', 'jobs', 'real estate', 'transport']

In [9]:
class_df = merged_df.groupby(['category_name'])['real estate', 'transport', 'car parts', 'animals', 'children', 'electronic',
'jobs', 'business and services', 'fashion and style', 'home and garden', 'hobby, rest and sport'].aggregate('sum')

In [10]:
class_df = class_df.loc[['real estate', 'transport', 'car parts', 'animals', 'children', 'electronic',
'jobs', 'business and services', 'fashion and style', 'home and garden', 'hobby, rest and sport']]

In [11]:
class_df

,real estate,transport,car parts,animals,children,electronic,jobs,business and services,fashion and style,home and garden,"hobby, rest and sport"
category_name,,,,,,,,,,,
real estate,31288,213,235,154,512,689,174,367,756,662,330
transport,213,36075,1920,241,457,1245,165,566,600,804,529
car parts,235,1920,55184,388,1477,4424,197,1000,2101,3075,2017
animals,154,241,388,23865,1022,1051,112,383,1427,1181,799
children,512,457,1477,1022,104731,6059,336,1178,17466,5725,5723
electronic,689,1245,4424,1051,6059,146533,637,2131,10283,8488,6885
jobs,174,165,197,112,336,637,17257,796,715,401,261
business and services,367,566,1000,383,1178,2131,796,37285,2000,2342,1130
fashion and style,756,600,2101,1427,17466,10283,715,2000,150964,8542,8518
home and garden,662,804,3075,1181,5725,8488,401,2342,8542,77636,6041
"hobby, rest and sport",330,529,2017,799,5723,6885,261,1130,8518,6041,61327